<header>
    <img src="https://th.bing.com/th/id/R.92443da6a61f320a7fa10e9aa761bd40?rik=X%2bmLJT5%2fy5AMBA&riu=http%3a%2f%2fs3.caradvice.com.au%2fwp-content%2fuploads%2f2016%2f09%2frac_intellibus_05.jpg&ehk=Qe8g%2foAu4OYJdrdPE30yU9c1305aPeinfnf182i8SE0%3d&risl=&pid=ImgRaw&r=0" width="100%" height="700px" alt="">
    <div class="header-content">
        <nav class="container fixed-top pt-3 pb-2" style="background: radial-gradient(circle, rgba(0,0,102,0.8655111702884278) 75%, rgba(229,229,229,0.04478287897190125) 100%)">
            <div class="row m-2">
                <div class="col-md-2 text-center">
                    <a class="fs-24 text-decoration-none fw-bold text-white" href="#">BOXCARS</a>
                </div>
                <div class="col-md-7">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="a_chinhsua nav-link nav1 active fs-16 fw-bold text-white" aria-current="page"
                               href="#">Trang Chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="a_chinhsua nav-link  nav1 fs-16 fw-bold text-white" href="#">Chuyến Đi</a>
                        </li>
                        <li class="nav-item">
                            <a class="a_chinhsua nav-link nav1 fs-16 fw-bold text-white" href="#">Thuê Xe</a>
                        </li>
                        <li class="nav-item">
                            <a class="a_chinhsua nav-link nav1 fs-16 fw-bold text-white" href="#">Tra Cứu</a>
                        </li>
                        <li class="nav-item">
                            <a class="a_chinhsua nav-link nav1 fs-16 fw-bold text-white" href="#">Tin Tức</a>
                        </li>
                        <li class="nav-item">
                            <a class="a_chinhsua nav-link nav1 fs-16 fw-bold text-white" href="#">Liên Hệ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 text-center">
                    <ul class="nav justify-content-center">
                        @*     <li class="nav-item">
                        <a class="a_chinhsua nav-link nav1 active fs-16 fw-bold text-white mx-auto" aria-current="page"
                        href="#"> Xin chào, Vân</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="a_chinhsua nav-link nav1 active fs-16 fw-bold text-white" aria-current="page"
                               href="#"> Đăng Nhập</a>
                        </li>
                        <li class="nav-item">
                            <a class="a_chinhsua nav-link nav1 active fs-16 fw-bold text-white" aria-current="page"
                               href="#"> Đăng Ký</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
